@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #24252A;
}

.hero{
	height: 320px; padding: 19px 25px;
	background: rgb(255, 255, 255);
	font-family: "Chivo", sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero div{
	cursor: auto;
}
div.heroWrap, h1, p {
  background-color: rgba(255, 255, 255, 0);
  color: #24252A;
}

body {
	background: #ccc;
}
// copy below 

li, a, button {
	font-family: "Chivo", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background: #24252A;
}

.logo {
	font-family: "Chivo", sans-serif;
	color:white;
	font-size: 22px;
	cursor:pointer;
	user-select:none;
  transition: all 0.3s ease 0s;
	}

.logo:hover {
	color: #F27979;
}

.navlinks {
	list-style: none;
}

.navlinks li {
	display: inline-block;
	padding: 0px 20px;
}

.navlinks li a {
	transition: all 0.3s ease 0s;
}

.active {
       font-family: "Chivo", sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: solid underline;
  text-decoration-color: #F27979;
	text-decoration-thickness: 3px;
}

.navlinks li a:active {
	font-weight: bold;
}

.navlinks li a:hover {
	color: #F27979;
}

button {
	padding: 9px 25px;
	background-color: #F27979;
	border: none;
	border-radius: 50px;
	cursor: pointer;
  transition: all 0.3s ease 0s;
	color: #24252A;
}

button:hover {
  background-color: rgb(250, 0, 0);
	color: white;
}

